
* {
    padding: 0;
    margin: 0;
}

body {
    background-image:repeating-linear-gradient(
        to right, transparent 0px 150px, #0001 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #CDCDCDcc, #CDCDCDcc),
    url(images/bg.jpg);
    background-size: cover;
}
.father {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.banner {
    position: absolute;
    height: 500px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    bottom: 170px;
    --left : 0 ;
    display: flex;
    transition: all 0.6s ease;

}
.banner .soda{
    background:
    url("./Images/mockup.png"),
    var(--url) var(--left) 0;
    background-size: auto 100%;
    width: 200px;
    aspect-ratio: 2/4;
    background-blend-mode: multiply;
    mask-image: url("./Images/mockup.png");
    mask-size: auto 100%;
    transition: all 0.6s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.banner:hover {
    --left : -820px ;
    transform: translateY(-120px);
}

.banner:hover .soda:nth-child(1){
    opacity: 1;
}
.banner:hover .soda:nth-child(2){
    opacity: 0;
}
.rock {
    position: absolute;
    inset: 0 0 0 0;
}
.rock img{
    position: absolute;
    transition: all 0.6s ease;
}
.rock img:nth-child(1){
    left: 50%;
    transform: translateX(-50%);
    bottom: 130px;
}

.rock img:nth-child(2){
    left: 0;
    bottom: -15rem;
    width: 60%;
    z-index:-1;
    object-fit: cover;
}
.rock img:nth-child(3){
    right: 0;
    bottom: -15rem;
    width: 60%;
    z-index:-1;
    object-fit: cover;
    transform: rotateY(180deg);
}

.father:has(.banner:hover) .rock img:nth-child(1){
    transform: translateY(3rem) translateX(-50%);
}
.father:has(.banner:hover) .rock img:nth-child(2){
    transform: translateY(100px) translateX(-50%);
}
.father:has(.banner:hover) .rock img:nth-child(3){
    transform: translateY(100px) translateX(50%)  rotateY(180deg);
}

body:has(.banner:hover) .tagged {
    color: black;
}
.tagged {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    position: absolute ;
    left: 20rem;
    top: 50%;
    color:white;
    transition: 0.6s;
}

/* .hhh {
    height: 500px;
    width: 500px;
    background-image: repeating-linear-gradient(to right , transparent 0 150px , red 150px 151px) ,
                    repeating-linear-gradient(to bottom , transparent 0 150px , red 150px 151px) ,
                    url('./Images/bg2.png');
} */